@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?6y3i5o');
	src:url('../fonts/icomoon.eot?#iefix6y3i5o') format('embedded-opentype'),
		url('../fonts/icomoon.woff?6y3i5o') format('woff'),
		url('../fonts/icomoon.ttf?6y3i5o') format('truetype'),
		url('../fonts/icomoon.svg?6y3i5o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-icon-"], [class*=" icomoon-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-decoration: none !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-icon-feedly:hover {
    color: #6CC655;
}
 
.icomoon-icon-facebook:hover {
    color: #265a96;
}
 
.icomoon-icon-twitter:hover {
    color: #00acec;
}
 
.icomoon-icon-hatebu:hover {
    color: #006fbb;
}
 
.icomoon-icon-pocket:hover {
    color: #EE4256;
}
 
.icomoon-icon-googleplus:hover {
    color: #dd4b39;
}
 
.icomoon-icon-line:hover {
    color: #2cbf13;
}
 
.icomoon-icon-feed:hover {
    color: #ff9900;
}
 
.icomoon-icon-youtube:hover {
    color: #e22d26;
}

.icomoon-icon-feedly:before {
	content: "\e600";
}

.icomoon-icon-hatebu:before {
	content: "\e601";
	margin-right: -4px;
}

.icomoon-icon-line:before {
	content: "\e602";
}

.icomoon-icon-pocket:before {
	content: "\e603";
}

.icomoon-icon-google-plus:before {
	content: "\ea88";
}

.icomoon-icon-google-drive:before {
	content: "\ea8b";
}

.icomoon-icon-facebook:before {
	content: "\ea8c";
}

.icomoon-icon-twitter:before {
	content: "\ea91";
}

.icomoon-icon-feed:before {
	content: "\ea94";
}

.icomoon-icon-youtube:before {
	content: "\ea99";
}

